@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Sriracha", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section.normal{
    background-color: white;
    color: black;
    font-family: var(--font3);
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.548);
    background-attachment: fixed;
}

section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.301);
    padding: 5px;
    text-shadow: 1px 1px 1px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 4.5vw;
}

section > p{
    padding-bottom: 2em;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

section#img01{
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
    background-size: cover;
}

section#img02{
    background-image: url("../imagens/background002.jpg");
    background-size: cover;
}